@import "~bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Baloo+2&family=Bellota:ital,wght@0,700;1,400&display=swap');
@import "./izmir.css";

$background: #2e2e31;
$orange: #a73d37;
$pink: #ae6b6b;
$lilac: #89819b;
$light-grey: #89809b54;


// GENERAL //

html {
  background-color: $background;
}

h1 {
  font-family: 'Bellota', cursive;
  font-size: 8vh;
}

h2 {
  font-family: 'Bellota', cursive;
  font-size: 6vh;
}

p {
  font-family: 'Baloo 2', cursive;
  font-size: 2.5vh;
  color: white;
}

a {
  color: white;
}

.tile.is-parent {
  border-radius: 10px;
  margin: 2px;
  display: block;
}

svg {
  height: 12vh;
  width: 12vh;
  margin: 1.5vh;
}

hr {
  margin: 1.5vh 5vh;
}

// NAV //

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-item {
  margin-left: 3%;
  color: white;
  font-size: 2.5vh;
}

a.navbar-item:visited {
  color: $pink;
}

a.navbar-item:hover {
  color: $orange ;
}

a.navbar-item:active {
  color: $lilac;
}



// SECTION AIDA //

section.aida {
  height: fit-content;
  min-height: 105vh;
  margin: 25px 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// NAME ANIMATION //

@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

h1.name {
  color: #fffbf1;
  text-shadow: 0 20px 25px $background, 0 40px 60px $background;
  font-size: 14vh;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

h1.name:before,
h1.name:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

h1.name:before {
  border-color: $lilac $pink rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

h1.name:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)  $pink $orange;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

.tile.intro {
  background-color: transparent;
  display: block;
  margin: 2px;
  padding: 5px;
}

.tile.headshot{
  justify-content: center;
  max-width: fit-content;
  margin: 10vh;
}

h1.name
span {
  text-align: left;
  margin-left: 30vh;
  font-size: 3vh;
  letter-spacing: 0px;

}

// SECTION ONE //

section.one {
  height: fit-content;
  background-color: $pink;
  transform: skewY(-5deg);
  border-color: $lilac;
  border-width: 3px 3px 7px;
  border-style: solid;
}

div.sectionone {
  transform: skewY(5deg);
  display: flex;
  align-items: center;
}

img.headshot {
  height: 40vh;
  border-radius: 20%;
  margin-top: 40%;
  border-style: solid;
  border-width: 0px 5px 5px 0px;
  border-color: #e8e8e847;
}


// SECTION EXPERIENCE //

section.experience
h1 {
  text-align: center;
  margin-top: 10vh;
  color: $orange;
}
.experience.tile.is-ancestor {
  display: block;
  text-align: center;
}

.tile.is-parent.experience {
  margin: 0vh 6vh 10vh !important;
  padding: 5vh !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #89809b54;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.tile.specific {
  display: block;
  text-align: center;
}

.tile.specific 
h2 {
  color: white;
  font-size: 4vh;
}

p.bold {
  font-weight: 10px;
}
// SECTION TWO //

section.two {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
}

section.two
h1 {
  text-align: center;
  margin-top: 5vh;
  color: $orange;
}

section.two
.tile.is-ancestor {
  height: 40vh;
  margin: 5px 5px 0px;
}

section.two
figure {
  width: 95%;
  height: 100%;
}

.tile.is-ancestor.projects {
  display: block;
  text-align: center;
}

.tile.is-parent.projects {
  margin: 0vh 6vh 10vh !important;
  padding: 5vh !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #89809b54;
  justify-content: center;
  align-items: center;
}

.tile.is-parent.potions {
  padding: 0px;
  margin: 2vh;
  min-width: 45%;
}

.tile.is-parent.doodler {
  padding: 0px;
  margin: 2vh;
  min-width: 45%;
}

.tile.is-parent.quiz {
  padding: 0px;
  margin: 2vh;
  min-width: 45%;
}

.tile.is-parent.frogger {
  padding: 0px;
  margin: 2vh;
  min-width: 45%;
}

.c4-izmir 
figcaption {
  margin-top: 1vh;
    // overflow: overlay;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
}

.c4-reveal-down {
  overflow: overlay;


}

.c4-izmir {
  --primary-color: #ae6b6b;
  --transition-duration: 500ms;
  --image-opacity: 0.2;
  --text-color: white;
  // --overflow: overlay;
}

.projects
h2 {
  font-size: 4vh;

}

.projects
h3 {
  font-size: 2.1vh;

}

.projects
p {
  font-size: 2vh;

}




// SECTION THREE //

section.three {
  height: fit-content;
  display: block;
}
section.three
h1 {
  text-align: center;
  margin-top: 10vh;
  color: $orange;
}

div.tile.is-parent.tech {
  margin: 0vh 6vh 10vh !important;
  padding: 5vh !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #89809b54;
  justify-content: center;
  align-items: center;
}   



// SECTION FOUR //

section.four
h1 {
  text-align: center;
  margin-top: 10vh;
  color: $orange;
}
.four.tile.is-ancestor {
  display: block;
  text-align: center;
}

.tile.is-parent.interests {
  margin: 0vh 6vh 10vh !important;
  padding: 5vh !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #89809b54;
  justify-content: center;
  align-items: center;
}



// SECTION FIVE //

section.five
h1 {
  text-align: center;
  margin-top: 10vh;
  color: $orange;
}
.five.tile.is-ancestor {
  display: block;
  text-align: center;
}

.tile.is-parent.contact {
  margin: 0vh 6vh 10vh !important;
  padding: 5vh !important;
  // background-color: #89809b54;
  justify-content: center;
  align-items: center;
}

.tile.contact-link {
  display: flex;
  justify-content: space-between;
  padding: 0 10vh;
}

.tile.contact-link
img:hover {
  transform: rotateZ(5deg);
}
