@import "~bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

// div {
//   border-style: solid;
//   border-width: 1px;
// }

html {
  background-color: #A38891;
  // height: 100%;
}

.tile.is-parent {
  background-color: white;
  border-radius: 10px;
  margin: 2px;
  display: block;
  // flex: wrap;
}

.aida {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  height: 80vh;
}

.tile.is-parent.intro {
  // font-size: 60px;
  display: inline-flex;
  background-color: transparent;
  // width: 80vh;
}

.tile.intro {
  display: block;
  // background-color: green;
  margin: 2px;
  padding: 5px;
}
.name {
  font-size: 230px;

}

.name.subtitle {
  font-size: 60px;
  text-align: left;
  margin-left: 30vh;

}